@model DCC_PortfolioSite.Models.UserProfileViewModels

<div>
    <h4>ResumeViewModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResumeViewModelObject.ResumeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumeViewModelObject.ResumeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumeViewModelObject.ProfileID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumeViewModelObject.ProfileID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumeViewModelObject.RevisionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumeViewModelObject.RevisionNumber)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
