@model IEnumerable<DCC_PortfolioSite.Models.ContactProfile>
@{
    ViewBag.Title = "User List";
}

    <img src="~/Content/devColor.png" class="img-rounded" height="50" alt="devCodeCamp" />
    <span class="pageTitle">@ViewBag.Title</span>

<div id="searchBoxUser">
    @using (Html.BeginForm("Search", "UserList"))
    {
        <span class="splashSearchText"></span>@Html.TextBox("tb_SearchBox", null, new { placeholder = "Search All" });
                    
        <button type="submit" class="btn btn-default splashSub"><span class="glyphicon glyphicon-search"></span> search UserNames</button><span class="splashSearchText"></span>
    }
</div>



    <table id="tbrole">
        <tr>
            <th class="inputLabel">
                User Name
            </th>
            <th class="inputLabel">
                First Name
            </th>
            <th class="inputLabel">
                Last Name
            </th>
            <th class="inputLabel">
                Role
            </th>
            <td></td>
        </tr>
@if (Model != null)
{
    
    foreach (var item in Model.Reverse().Select((value,i) => new {i, value}))
        {

            <tr>
                <td class="inputData" style="text-align:right;">
                    @Html.DisplayFor(model => item.value.PrimaryEmail)
                </td>
                <td class="inputData" style="text-align:right;">
                    @Html.DisplayFor(model => item.value.FirstName)
                </td>
                <td class="inputData" style="text-align:right;">
                    @Html.DisplayFor(model => item.value.LastName)
                </td>
                @{
            List<string> roles = ViewBag.Roles[item.i];
                }


                <td class="inputData" style="text-align:right;">
                    @foreach (var singleRole in roles) { 
                    <span>@Html.DisplayFor(model => singleRole)</span>
                    }
                </td>
                <td>

                </td>
            </tr>
            
            <tr>
    </tr>
        
        }
}
    </table>

    <div>
        @Html.ActionLink("Back to List", "Index", "Manage")
    </div>
