@model DCC_PortfolioSite.Models.AdminViewModel

<div>
    <hr />
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.UserProfile.UserName)</td>
            <td>@Html.DisplayFor(model => model.UserProfile.UserName)</td>
            @*<td>@Html.TextBoxFor(model => model.UserName, new { @readonly = "readonly" })</td>*@
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.UserProfile.UserPassword)</td>
            <td>@Html.TextBoxFor(model => model.UserProfile.UserPassword, new { @readonly = "readonly" })</td>
        </tr>
    </table>
</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
