@model DCC_PortfolioSite.Models.UserProfile

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>
    </dl>
</div>

<div>
    <p>
        @Html.TextBoxFor(model => model.UserName)
    </p>
    <p>
        @Html.TextBoxFor(model => model.UserPassword)
    </p>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
