@model DCC_PortfolioSite.Models.UserProfile

<div>
    <hr />
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.UserName)</td>
            <td>@Html.TextBoxFor(model => model.UserName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.UserPassword)</td>
            <td>@Html.TextBoxFor(model => model.UserPassword)</td>
        </tr>
    </table>
</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
