@model DCC_PortfolioSite.Models.UserProfile

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
            @Html.TextBoxFor(model => model.UserName)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
            @Html.TextBoxFor(model => model.UserPassword)
        </dt>
    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
