@model DCC_PortfolioSite.Models.AdminViewModel

@using (Html.BeginForm("SaveProfile", "Admin"))
{
    @Html.HiddenFor(model => model.ContactProfile.ProfileId);
    <div>
        <hr />
        <table>
            <tr>
                <td class="inputLabel">Show on Profile</td>
                <td class="inputLabel"> </td>
                <td class="editData"> </td>
            </tr>
            <tr>
                <td class="inputLabel">
                <td class ="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.FirstName)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.FirstName)</td>
            </tr>
            <tr>
                <td class="inputLabel"> </td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.LastName)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.LastName)</td>
            </tr>
            <tr>
                <td class="inputLabel"> </td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.BirthDate)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.BirthDate)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.EditorFor(model => model.ContactProfile.ShowPrimaryPhone)</td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.PrimaryPhone)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.PrimaryPhone)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.EditorFor(model => model.ContactProfile.ShowAlternatePhone)</td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.AlternatePhone)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.AlternatePhone)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.EditorFor(model => model.ContactProfile.ShowPrimaryEmail)</td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.PrimaryEmail)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.PrimaryEmail)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.EditorFor(model => model.ContactProfile.ShowAlternateEmail)</td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.AlternateEmail)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.AlternateEmail)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.EditorFor(model => model.ContactProfile.ShowAddress)</td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.StreetAddress)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.StreetAddress)</td>
            </tr>
            <tr>
                <td class="inputLabel"> </td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.City)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.City)</td>
            </tr>
            <tr>
                <td class="inputLabel"> </td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.USAState)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.USAState)</td>
            </tr>
            <tr>
                <td class="inputLabel"> </td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.Country)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.Country)</td>
            </tr>
            <tr>
                <td class="inputLabel"> </td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.PostalCode)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.PostalCode)</td>
            </tr>
            <tr>
                <td class="inputLabel"> </td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.About)</td>
                <td class="editData">@Html.TextAreaFor(model => model.ContactProfile.About, 15, 80, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.EditorFor(model => model.ContactProfile.ShowLinkedInLink)</td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.LinkedIn)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.LinkedIn)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.EditorFor(model => model.ContactProfile.ShowGitHubLink)</td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.GitHub)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.GitHub)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.EditorFor(model => model.ContactProfile.ShowPersonalWebsiteLink)</td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.PersonalWebsite)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.PersonalWebsite)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.EditorFor(model => model.ContactProfile.ShowPersonalWebsiteLink)</td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.AvailableForWork)</td>
                <td class="editData">@Html.TextAreaFor(model => model.ContactProfile.AvailableForWork, 15, 80, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.EditorFor(model => model.ContactProfile.ShowHireByMessage)</td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.HiredBy)</td>
                <td class="editData">@Html.TextAreaFor(model => model.ContactProfile.HiredBy, 15, 80, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.EditorFor(model => model.ContactProfile.ShowCurrentlyWorking)</td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.CurrentWork)</td>
                <td class="editData">@Html.TextAreaFor(model => model.ContactProfile.CurrentWork, 15, 80, new { htmlAttributes = new { @class = "form-control" } })</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.EditorFor(model => model.ContactProfile.ShowProfilePhoto)</td>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ContactProfile.Photo)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ContactProfile.Photo)<br />
                (select file to upload below)</td>
            </tr>
        </table>
    </div>

    <div>
        <input type="submit" class="btn btn-default" value="SaveProfile" />
    </div>
}

@using (Html.BeginForm("ImageUploadPhoto", "Admin",
      FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <div>
        <table>
            <tr>
                <td class="inputLabel">Select Photo</td>
                <td class="editData">
                    <input name="image" class="btn btn-default" type="file">
                    <input type="submit" class="btn btn-default" value="Upload Image" />
                </td>
            </tr>
        </table>
    </div>
}
