@model DCC_PortfolioSite.Models.AdminViewModel

@using (Html.BeginForm("SaveProject", "Admin"))
{
    <div>
        <hr />
        <table>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.ProjectName)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.ProjectName)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.Technologies)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.Technologies)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.DevelopmentTime)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.DevelopmentTime)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.ProjectDescription)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.ProjectDescription)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.RepoLink)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.RepoLink)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.Image_1)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.Image_1)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.Image_2)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.Image_2)</td>
            </tr>
        </table>
    </div>

    <div>
        <a href="@Url.Action("CreateProject", new { ContactId=@Model.ContactProfile.ProfileId })" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=600,toolbar=1,resizable=0'); return false;">Create New Project</a>
    </div>

}
