@model DCC_PortfolioSite.Models.AdminViewModel

@foreach (var project in Model.ProjectSpotlightList)
{

    <div>
        <hr />
        <table>
            <tr>
                <td class ="inputLabel">
                    @using (Html.BeginForm("DeleteProject", "Admin"))
                    {
                        <input type="hidden" value=@project.ProjectSpotlightID name="ProjectSpotlightID" />
                        <input type="submit" value="Delete" />
                    }
                </td>
                <td class="inputData">
                    <input type="hidden" value=@project.ProjectSpotlightID name="ProjectSpotlightID" />
                    <a type="button" href="@Url.Action("EditProject", new { ProjectId=project.ProjectSpotlightID })" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=1000,toolbar=1,resizable=0'); return false;"><input type="button" value="Edit"></a>
                </td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => project.ProjectName)</td>
                <td class="inputData">@Html.DisplayFor(model => project.ProjectName)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => project.Technologies)</td>
                <td class="inputData">@Html.DisplayFor(model => project.Technologies)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => project.DevelopmentTime)</td>
                <td class="inputData">@Html.DisplayFor(model => project.DevelopmentTime)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => project.ProjectDescription)</td>
                <td class="inputData">@Html.DisplayFor(model => project.ProjectDescription)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => project.RepoLink)</td>
                <td class="inputData">@Html.DisplayFor(model => project.RepoLink)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => project.Image_1)</td>
                <td class="inputData">
                    @if (!String.IsNullOrEmpty(project.Image_1) & (project.Image_1 != " "))
                    { <img src="@Url.Content(project.Image_1)" alt="Image" height='50' width='50' />}
                </td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => project.Image_2)</td>
                <td class="inputData">
                    @if (!String.IsNullOrEmpty(project.Image_2) & (project.Image_2 != " "))
                    { <img src="@Url.Content(project.Image_2)" alt="Image" height='50' width='50' />}
                </td>
             </tr>
        </table>
    </div>
}

    <div>
        <a href="@Url.Action("CreateProject", new { ContactId=@Model.ContactProfile.ProfileId })" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=600,toolbar=1,resizable=0'); return false;">Create New Project</a>
    </div>
