@model DCC_PortfolioSite.Models.AdminViewModel

<div>
    <hr />
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ProjectSpotlight.ProjectName)</td>
            <td>@Html.TextBoxFor(model => model.ProjectSpotlight.ProjectName, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ProjectSpotlight.Technologies)</td>
            <td>@Html.TextBoxFor(model => model.ProjectSpotlight.Technologies, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ProjectSpotlight.DevelopmentTime)</td>
            <td>@Html.TextBoxFor(model => model.ProjectSpotlight.DevelopmentTime, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ProjectSpotlight.ProjectDescription)</td>
            <td>@Html.TextBoxFor(model => model.ProjectSpotlight.ProjectDescription, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ProjectSpotlight.RepoLink)</td>
            <td>@Html.TextBoxFor(model => model.ProjectSpotlight.RepoLink, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ProjectSpotlight.Image_1)</td>
            <td>@Html.TextBoxFor(model => model.ProjectSpotlight.Image_1, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ProjectSpotlight.Image_2)</td>
            <td>@Html.TextBoxFor(model => model.ProjectSpotlight.Image_2, new { @readonly = "readonly" })</td>
        </tr>
    </table>
</div>

@*<p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
