@model DCC_PortfolioSite.Models.AdminViewModel

<div>
    <hr />
    <table>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.ProjectName)</td>
            <td class="inputData">@Html.DisplayFor(model => model.ProjectSpotlight.ProjectName, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.Technologies)</td>
            <td class="inputData">@Html.DisplayFor(model => model.ProjectSpotlight.Technologies, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.DevelopmentTime)</td>
            <td class="inputData">@Html.DisplayFor(model => model.ProjectSpotlight.DevelopmentTime, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.ProjectDescription)</td>
            <td class="inputData">@Html.DisplayFor(model => model.ProjectSpotlight.ProjectDescription, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.RepoLink)</td>
            <td class="inputData">@Html.DisplayFor(model => model.ProjectSpotlight.RepoLink, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.Image_1)</td>
            <td class="inputData">@Html.DisplayFor(model => model.ProjectSpotlight.Image_1, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.Image_2)</td>
            <td class="inputData">@Html.DisplayFor(model => model.ProjectSpotlight.Image_2, new { @readonly = "readonly" })</td>
        </tr>
    </table>
</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
