@model DCC_PortfolioSite.Models.ProjectSpotlight

<div>
    <hr />
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ProjectName)</td>
            <td>@Html.TextBoxFor(model => model.ProjectName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Technologies)</td>
            <td>@Html.TextBoxFor(model => model.Technologies)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DevelopmentTime)</td>
            <td>@Html.TextBoxFor(model => model.DevelopmentTime)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ProjectDescription)</td>
            <td>@Html.TextBoxFor(model => model.ProjectDescription)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.RepoLink)</td>
            <td>@Html.TextBoxFor(model => model.RepoLink)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Image_1)</td>
            <td>@Html.TextBoxFor(model => model.Image_1)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Image_2)</td>
            <td>@Html.TextBoxFor(model => model.Image_2)</td>
        </tr>
    </table>
</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
