@model DCC_PortfolioSite.Models.AdminViewModel

@using (Html.BeginForm("SaveProject", "Admin"))
{
    <div>
        <hr />
        <table>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.ProjectName)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.ProjectName)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.Technologies)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.Technologies)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.DevelopmentTime)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.DevelopmentTime)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.ProjectDescription)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.ProjectDescription)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.RepoLink)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.RepoLink)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.Image_1)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.Image_1)</td>
            </tr>
            <tr>
                <td class="inputLabel">@Html.DisplayNameFor(model => model.ProjectSpotlight.Image_2)</td>
                <td class="editData">@Html.TextBoxFor(model => model.ProjectSpotlight.Image_2)</td>
            </tr>
        </table>
    </div>

    <div>
        <a href="localhost:2170/Admin/CreateProject">Create New Project</a>
        @*<input type="submit" class="btn btn-default" value="SaveProject" />*@
    </div>

}

@*<p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
