@model DCC_PortfolioSite.Models.ContactProfile

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.PrimaryPhone)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.AlternatePhone)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.PrimaryEmail)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.AlternateEmail)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.USAState)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.LinkedIn)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.GitHub)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.PersonalWebsite)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.AvailableForWork)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.HiredBy)
        </dt>
        <dt class="adminInputLabel">
            @Html.DisplayNameFor(model => model.CurrentWork)
        </dt>
    </dl>
</div>

<div>
    <p>
        @Html.TextBoxFor(model => model.FirstName)
    </p>
    <p>
        @Html.TextBoxFor(model => model.LastName)
    </p>
    <p>
        @Html.TextBoxFor(model => model.BirthDate)
    </p>
    <p>
        @Html.TextBoxFor(model => model.PrimaryPhone)
    </p>
    <p>
        @Html.TextBoxFor(model => model.AlternatePhone)
    </p>
    <p>
        @Html.TextBoxFor(model => model.PrimaryEmail)
    </p>
    <p>
        @Html.TextBoxFor(model => model.AlternateEmail)
    </p>
    <p>
        @Html.TextBoxFor(model => model.StreetAddress)
    </p>
    <p>
        @Html.TextBoxFor(model => model.City)
    </p>
    <p>
        @Html.TextBoxFor(model => model.USAState)
    </p>
    <p>
        @Html.TextBoxFor(model => model.Country)
    </p>
    <p>
        @Html.TextBoxFor(model => model.PostalCode)
    </p>
    <p>
        @Html.TextBoxFor(model => model.Photo)
    </p>
    <p>
        @Html.TextBoxFor(model => model.LinkedIn)
    </p>
    <p>
        @Html.TextBoxFor(model => model.GitHub)
    </p>
    <p>
        @Html.TextBoxFor(model => model.PersonalWebsite)
    </p>
    <p>
        @Html.TextBoxFor(model => model.AvailableForWork)
    </p>
    <p>
        @Html.TextBoxFor(model => model.HiredBy)
    </p>
    <p>
        @Html.TextBoxFor(model => model.CurrentWork)
    </p>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>