@model DCC_PortfolioSite.Models.ContactProfile

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
            @Html.TextBoxFor(model => model.FirstName)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
            @Html.TextBoxFor(model => model.LastName)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
            @Html.TextBoxFor(model => model.BirthDate)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryPhone)
            @Html.TextBoxFor(model => model.PrimaryPhone)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.AlternatePhone)
            @Html.TextBoxFor(model => model.AlternatePhone)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryEmail)
            @Html.TextBoxFor(model => model.PrimaryEmail)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateEmail)
            @Html.TextBoxFor(model => model.AlternateEmail)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
            @Html.TextBoxFor(model => model.StreetAddress)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.City)
            @Html.TextBoxFor(model => model.City)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.USAState)
            @Html.TextBoxFor(model => model.USAState)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
            @Html.TextBoxFor(model => model.Country)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
            @Html.TextBoxFor(model => model.PostalCode)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.About)
            @Html.TextBoxFor(model => model.About)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
            @Html.TextBoxFor(model => model.Photo)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.LinkedIn)
            @Html.TextBoxFor(model => model.LinkedIn)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.GitHub)
            @Html.TextBoxFor(model => model.GitHub)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.PersonalWebsite)
            @Html.TextBoxFor(model => model.PersonalWebsite)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableForWork)
            @Html.TextBoxFor(model => model.AvailableForWork)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.HiredBy)
            @Html.TextBoxFor(model => model.HiredBy)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentWork)
            @Html.TextBoxFor(model => model.CurrentWork)
        </dt>
    </dl>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@


