@model DCC_PortfolioSite.Models.ProjectSpotlight

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectSpotlightID)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileID)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Technologies)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.DevelopmentTime)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.RepoLink)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Image_1)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Image_2)
        </dt>
    </dl>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
