@model DCC_PortfolioSite.Models.AdminViewModel

@foreach (var project in Model.ProjectSpotlightList)
{

<div>
    <hr style="border-color: #AAA; border-style: dashed" />
    <table>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => project.ProjectName)</td>
            <td class="inputData">@Html.DisplayFor(model => project.ProjectName, new { @readonly = "readonly" })</td>
            
            
        </tr>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => project.Technologies)</td>
            <td class="inputData">@Html.DisplayFor(model => project.Technologies, new { @readonly = "readonly" })</td>
            
        </tr>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => project.DevelopmentTime)</td>
            <td class="inputData">@Html.DisplayFor(model => project.DevelopmentTime, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => project.ProjectDescription)</td>
            <td class="inputData">@Html.DisplayFor(model => project.ProjectDescription, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => project.RepoLink)</td>
            <td class="inputData">@Html.DisplayFor(model => project.RepoLink, new { @readonly = "readonly" })</td>
        </tr>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => project.Image_1)</td>
            <td class="inputData">@if (!String.IsNullOrEmpty(project.Image_1) & (project.Image_1 != " "))
                                  { <img src="@Url.Content(project.Image_1)" alt="Image" height='50' width='50' />}</td>
        </tr>
        <tr>
            <td class="inputLabel">@Html.DisplayNameFor(model => project.Image_2)</td>
            <td class="inputData">@if (!String.IsNullOrEmpty(project.Image_2) & (project.Image_2 != " "))
                                  { <img src="@Url.Content(project.Image_2)" alt="Image" height='50' width='50' />}</td>
        </tr>
    </table>
</div>
}
