@model DCC_PortfolioSite.Models.ContactProfile

<div>
    <hr />
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstName)</td>
            <td>@Html.TextBoxFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LastName)</td>
            <td>@Html.TextBoxFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.BirthDate)</td>
            <td>@Html.TextBoxFor(model => model.BirthDate)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PrimaryPhone)</td>
            <td>@Html.TextBoxFor(model => model.PrimaryPhone)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.AlternatePhone)</td>
            <td>@Html.TextBoxFor(model => model.AlternatePhone)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PrimaryEmail)</td>
            <td>@Html.TextBoxFor(model => model.PrimaryEmail)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.AlternateEmail)</td>
            <td>@Html.TextBoxFor(model => model.AlternateEmail)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.StreetAddress)</td>
            <td>@Html.TextBoxFor(model => model.StreetAddress)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.City)</td>
            <td>@Html.TextBoxFor(model => model.City)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.USAState)</td>
            <td>@Html.TextBoxFor(model => model.USAState)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Country)</td>
            <td>@Html.TextBoxFor(model => model.Country)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PostalCode)</td>
            <td>@Html.TextBoxFor(model => model.PostalCode)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.About)</td>
            <td>@Html.TextAreaFor(model => model.About)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Photo)</td>
            <td>@Html.TextBoxFor(model => model.Photo)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LinkedIn)</td>
            <td>@Html.TextBoxFor(model => model.LinkedIn)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.GitHub)</td>
            <td>@Html.TextBoxFor(model => model.GitHub)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PersonalWebsite)</td>
            <td>@Html.TextBoxFor(model => model.PersonalWebsite)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.AvailableForWork)</td>
            <td>@Html.TextBoxFor(model => model.AvailableForWork)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HiredBy)</td>
            <td>@Html.TextBoxFor(model => model.HiredBy)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.CurrentWork)</td>
            <td>@Html.TextBoxFor(model => model.CurrentWork)</td>
        </tr>
    </table>
</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@