@model DCC_PortfolioSite.Models.ProjectSpotlight

@{
    ViewBag.Title = "Create Project";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<img src="~/Content/devColor.png" class="img-rounded" height="75" alt="devCodeCamp" />
<span class="pageTitle"><strong>@ViewBag.Title</strong></span>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

    <div class="row light_background">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 corner_radius">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ProfileID, new { htmlAttributes = new { @class = "form-control" } })
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Technologies, htmlAttributes: new { @class = "control-label col-md-2" }) (separated by spaces)
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Technologies, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Technologies, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DevelopmentTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DevelopmentTime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DevelopmentTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.Image_1, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input name="Image1" type="file">
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Image_2, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input name="Image2" type="file">
                        </div>
                    </div>*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.RepoLink, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RepoLink, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RepoLink, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.ProjectDescription, 15, 80, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProjectDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create and Preview" class="btn btn-default" />
                            <button type="button" onclick="window.open('', '_self', ''); window.close();">Cancel</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />
    <br />
    @*@Html.Partial("_ProjectPreviewPartialView")
    <script type="text/javascript" src="~/Scripts/ProjectPreviewPartialControl.js"></script>*@

