@model DCC_PortfolioSite.Models.AdminViewModel

@{
    ViewBag.Title = "Alumni Network";
}

<div class="row">
    <div>
        <h1>View Account Settings</h1>
        <hr />
    </div>
    
    <div>
        @Html.ActionLink("Edit All", "Edit", new { /* id = Model.PrimaryKey */ }) |
    </div>

    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <h3>Account Info</h3>
        <div id="ProfileTile" class="col-sm-12">
            @Html.Partial("_AccountInfoPartialView")
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <h3>Profile Info</h3>
        <div id="ProfileTile" class="col-sm-12">
            @Html.Partial("_ProfileInfoPartialView")
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <h3>Resume Info</h3>
        <div id="ProfileTile" class="col-sm-12">
            @Html.Partial("_ResumeInfoPartialView")
        </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <h3>Project Info</h3>
        <div id="ProfileTile" class="col-sm-12">
            @Html.Partial("_ProjectInfoPartialView")
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Edit All", "Edit", new { /* id = Model.PrimaryKey */ }) |
</div>